/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: #333;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    background-color: #fff;
}

.profile {
    margin: 30px;
    margin-top: 200px;
}

.photo {
    margin: 20px;
}

header h2 {
    margin-left: 20px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
    margin-right: 20px;
}

nav ul li {
    font-size: 16px;
    color: #777;
}

nav ul li a {
    text-decoration: none;
    color: #777;
}

nav ul li a:hover {
    color: black;
}

/* Profile Section */
.profile {
    margin-top: 50px;
}

.profile img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 3px solid #ddd;
}

.profile h1 {
    font-size: 28px;
    margin: 10px 0 5px;
}

.profile h3 {
    color: #666;
    font-size: 18px;
    margin-bottom: 15px;
}

/* Social Icons */
.social-icons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 15px;
    font-size: 2rem;
    justify-content: left;
}

.social-icons img {
    width: 24px;
    height: 24px;
}

/* Buttons */
.buttons {
    margin-top: 15px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-decoration: none;
    border-radius: 5px;
    margin: 5px;
}

.primary:hover {
    background-color: #1e90ff;
}

.secondary:hover {
    color: #1e90ff;
}

.primary {
    background-color: #007bff;
    color: white;
    box-shadow: 3px 3px 5px #ccc;
}


.secondary {
    background-color: #fff;
    color: #007bff;
    border: 1px solid #007bff;
}

/* Footer */
footer {
    display: flex;
    margin-top: 100px;
    padding: 10px;
    color: #666;
    justify-content: center;
}